{% extends 'base.html' %}
{% load static %}


{% block title %}
  Sign-in
{% endblock %}
  
{% block stylesheet %}
  <link  rel="stylesheet" href="{% static 'css/signin.css'%}">
{% endblock  %}
  

{% block content %}
<div class="text-center">
  <main class="form-signin">
    
    <form method="POST" action="{%url 'login'%}">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% include 'partials/_alerts.html' %}
      <label for="inputuername" class="visually-hidden">Username...</label>
      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>


      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>


      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btnn btn-outline-secondary btn w-100 btn-lg" type="submit">
      Sign in
      </button>
      <small><a href="{% url 'password_change1'%}">Forgot password?</a></small>
      <small class="sign-up-redirect">
        <p>Don't yet have an account?</p>
        <a class =" btn-outline-secondary btn btn-sm" href="{%url 'signup'%}"> sign up here</a>
      </small>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>


<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
</div>
{% endblock %}
  

