{% extends 'base.html' %}
{% load static %}


{% block title %}
  New Password
{% endblock title %}


{% block stylesheet %}
<!-- <link rel="stylesheet" href="%static 'css/password_change2.css'%"> -->
<link  rel="stylesheet" href="{% static 'css/signin.css'%}">
{% endblock stylesheet  %}


{% block content %}
  <main class="form-signin text-center">
    <p>Welcome {{user.first_name}} {{user.last_name}}, input your new password </p>
    <form method="POST" action="{%url 'password_change2' auth_token %}">
      {% csrf_token %}
      {% include 'partials/_alerts.html' %}
      <label for="inputpassword" class="visually-hidden">Email</label>
      <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="New Password" required autofocus>

      <label for="inputpassword" class="visually-hidden">Email</label>
      <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Confirm Password" required autofocus>

      <button class="btnn btn-outline-secondary btn w-100 btn-lg" type="submit">
        Send Link
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
{% endblock content %}
  
  
  