{% extends 'base.html' %}
{% load static %}
{% block title %}
  Change your password
{% endblock title %}

{% block stylesheet %}
  <link rel="stylesheet" href="%static 'css/password_change2.css'%">
  <link  rel="stylesheet" href="{% static 'css/signin.css'%}">
{% endblock stylesheet %}



{% block content %}
<div class="text-center">

  <main class="form-signin">
    <form method="POST" action="{%url 'password_change1'%}">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">To Get Started, Input Your Email Here </h1>
      {% include 'partials/_alerts.html' %}
      <label for="inputuername" class="visually-hidden">Email</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

      <button class="btnn btn-outline-secondary btn w-100 btn-lg" type="submit">
        Send Link
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
</div>
{% endblock content %}
  