<!-- <footer>
  <div class="other-links">
    <ul class="list">
      <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fab fa-facebook-f" aria-hidden="true"></i></li>
    </ul>
  </div>
  <div class="social-media-links">
    <ul>
      <li>Contact Us</li>
      <li>About Us</li>
      <li>Terms</li>
      <li>Privacy</li>
    </ul>
  </div>
</footer> -->
<footer>
  <div class="footer1">
    <div class="text-center" >
      <h3 class="" href="#">Dermatology Atlas</h3>
      <p>It's great you're still here</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisc</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, possimus? Velit, nostrum error debitis rerum i</p>
      <p>&copy;2021</p>
    </div>
  </div>
  <div class="footer2 text-center">
    <p>Made with <span><i class="fas fa-heart"></i></span> in Nigeria</p>
  </div>
</footer>