<footer>
  <div class="footer1">
    <div>
      <h3 class="footer-header">Dermatology Atlas</h3>
    </div>
    <div class="footer-content flex">
      <p class="about-us">
        Dermatology Atlas is an image library of Dermatological diseases in dark skinned people created to aid clinicians and medical students easily identify and diagnose these diseases.
    </p>
      <div class="contact-us">
        <p class="contact-us-header">Contact Us</p>
        <div class="social-contacts flex">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class='fab fa-github'></i></a>
          <a href=""><i class='fas fa-envelope'></i></a>
        </div>
      </div>
      <p class="copyright">copyright &copy; 2021</p>
    </div>
    
  </div>
    <p class="footer2">Made with <span><i class="fas fa-heart nigerian-icon"></i></span> <span class="nigeria"> in Nigeria</span></p>
</footer>